.i-card-sm {
    position: relative;
    background-color: $color-white;
    padding: 20px;
    border-radius: 4px;
    @include shadow-1;
    .title {
        margin-bottom: 15px;
    }

    &.style-1 {
        overflow: hidden;
        z-index: 1;
        &::after {
            content: "";
            position: absolute;
            right: -60px;
            top: -50px;
            display: block;
            width: 180px;
            height: 100px;
            background-color: var(--color-white);
            opacity: 0.09;
            transform: rotate(45deg);
            z-index: -1;
        }
        .icon {
            position: absolute;
            top: 0px;
            right: 10px;
            i {
                font-size: 40px;
                color: $color-white;
                opacity: 0.4;
                line-height: 1;
            }
        }
    }
    &.style-2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

        .card-info {
            text-align: right;
            .title {
                margin-bottom: 10px;
            }
        }
        .icon {
            i {
                font-size: 40px;
                color: $color-white;
                opacity: 0.45;
                line-height: 1;
            }
        }
    }
    &.style-3 {
        .icon {
            margin-bottom: 10px;
            i {
                font-size: 40px;
                color: $text-light;
            }
        }
    }

    &.warning {
        border-bottom: 3px solid $color-warning;
        background-color: $color-warning;
        color: $color-warning;
        box-shadow: 5px 20px 30px -15px ($color-warning-light);
        background-image: url("../images/card-bg.jpg");
        background-blend-mode: multiply;
        p {
            color: $color-white;
        }

        .title {
            color: $color-white;
        }
    }
    &.success {
        border-bottom: 3px solid $color-success;
        background-color: $color-success;
        box-shadow: 5px 20px 30px -15px ($color-success-light);
        p {
            color: $color-white;
        }
        .title {
            color: $color-white;
        }
    }
    &.danger {
        background-color: $color-danger;
        box-shadow: 5px 20px 30px -15px ($color-danger-light);
        border-bottom: 3px solid $color-danger;
        p {
            color: $color-white;
        }
        .title {
            color: $color-white;
        }
    }
    &.info {
        border-bottom: 3px solid $color-info;
        background-color: $color-info;
        box-shadow: 5px 20px 30px -15px ($color-info-light);
        p {
            color: $color-white;
        }
        .title {
            color: $color-white;
        }
    }
}

.i-card-md {
    position: relative;
    background: $card-bg !important;
    border-radius: 16px;
    @include shadow-1;
    .card-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 20px 25px 0;
    }
      .card-title {
            font-size: 18px;
            color: $text-primary;
        }
    .card-body {
        padding: 30px;
    }
}
