.auth-form-wrapper{
    width: 100%;
    max-width: 544px;
    margin: 0 auto;
    background-color: $color-white;
    border-radius: 20px;
    padding: 35px 40px;
    z-index: 2;
    box-shadow: 0px 0px 80px 0px rgba(0,0,0,0.1);

    @include xl-device {
        padding: 30px 30px;
    }

     @include lg-device {
        padding: 30px 30px;
    }
    @include lg-down-device {
        padding: 20px 20px;
    }

    &.card-transparent{
        background-color: transparent;
        box-shadow: unset;

        .input-wrapper{
            background-color: transparent;
        }
    }
}

 .otp-wrapper {
      display: flex;
      justify-content: center;
      gap: 12px;
    }
    .otp-input {
      width: 112px;
      height: 112px;
      font-size: 48px;
      text-align: center;
      border: 2px solid $color-border;
      border-radius: 10px;
      outline: none;
      transition: border-color 0.2s ease-in-out;
      color: $text-primary;

      @include lg-down-device{
        width: 60px;
        height: 60px;
        font-size: 24px;
      }
    }

.min-w-150{
    min-width: 150px;
}

 .input-wrapper {
      position: relative;
      display: flex;
      align-items: center;
      background: #fff;
      border: 1px solid #ddd;
      border-radius: 40px;
      padding: 0 15px;
      height: 50px;
    }

    .input-wrapper i {
      font-size: 18px;
      display: inline-block;
      color: #333;
    }

    .input-wrapper .form-control {
      border: none !important;
      outline: none !important;
      flex: 1;
      padding: 0 10px;
      font-size: 15px;
      background: transparent;
    }
      .input-wrapper .form-control:focus {
      border: none !important;
      outline: none !important;
    }

    .toggle-eye {
      cursor: pointer;
      font-size: 18px;
    }


    .switch {
      position: relative;
      display: inline-block;
      width: 36px;
      height: 20px;
      margin-right: 5px;
    }

    .switch input {
      display: none;
    }

.auth-right-panel{
    position: relative;
    z-index: 1;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    padding: 120px 20px 60px;
    background-color: $color-white;

    @include lg-down-device{
        height: auto;
        padding: 120px 20px 60px;
        min-height: auto;
    }

.blur-bg{
  background-color: $color-primary;
  width: 470px;
  height: 270px;
  position: absolute;
  right: -230px;
  top: 40%;
  transform: translateY(-50%);
  z-index: -1;
  filter: blur(260px);
}

.blur-bg-2{
  background-color: $color-primary;
  width: 250px;
  height: 250px;
  position: absolute;
  left: -50px;
  top: -50px;
  transform: translateY(-50%);
  z-index: -1;
  filter: blur(120px);
}
}

.auth-vector-top{
    width: 100%;
    max-width: 166px;
    margin: 0 auto 25px;
    animation: slowJump 2s ease-in-out infinite;
    position: relative;

    @include lg-down-device{
        max-width: 120px;
    }
}

@keyframes slowJump {
  0%, 100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
}

.auth-left-panel{
    position: relative;
    z-index: 1;
    min-height: 100vh;
    z-index: 1;
    overflow: hidden;

    .blur-bg-3{
        background-color: $color-primary;
        width: 270px;
        height: 250px;
        position: absolute;
        right: 20px;
        top: 20px;
        transform: translateY(-50%);
        z-index: -1;
        filter: blur(200px);
        }

    
    @include lg-down-device{
        min-height: 700px;
        padding: 60px 20px 60px;
    }
    &::before{
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        background-color: $color-primary;
        opacity: 0.26;
        position: absolute;
        inset: 0;
        z-index: -1;
    }
}

.auth-image-wrapper{
    width: 100%;
    max-width: 500px;
    margin: 0 auto;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    max-height: 700px;

    @include fifteen-down-device {
        max-width: 380px;
    }

    &.forgot-pass{
        max-width: 650px;
            @include fifteen-down-device {
                max-width: 500px;
            }
    }

    &.otp-image{
        max-width: 520px;

        @include fifteen-down-device {
            max-width: 380px;
        }
    }
    &.new-password-image{
        max-width: 470px;

        @include fifteen-down-device {
            max-width: 380px;
        }
    }
}


.social-login{
    display: flex;
    justify-content: center;
    gap: 12px;
    border: 1px solid $color-border-two;
    padding: 10px;
    flex-grow: 1;
    border-radius: 12px;
    transition: 0.45s ease;

    &:hover{
        border: 1px solid $color-primary;
    }

    span{
        display: inline-block;
        font-weight: 600;
        color: $text-primary;
    }
}

.or-signin{
    display: inline-block;
    font-size: 14px;
    position: relative;
    margin: 35px 0;

    &::before{
        content: '';
        display: block;
        width: 160px;
        height: 1px;
        background-color: $color-border;
        position: absolute;
        left: -180px;
        top: 12px;
    }
      &::after{
        content: '';
        display: block;
        width: 160px;
        height: 1px;
        background-color: $color-border;
        position: absolute;
        right: -180px;
        top: 12px;
    }
}

.stats-box{
    background-color: $color-white;
    padding: 20px;
    width: 160px;
    position: absolute;
    left: 70px;
    top: 180px;

    @include lg-down-device{
            left: 30px;
            top: 100px;
    }

    h5{
        font-size: 20px;
        font-weight: 700;
    }
}

.testimonial-box{
    background-color: $color-white;
    padding: 30px;
    border-radius: 40px;
    position: absolute;
    right: 20px;
    bottom: 20px;
    width: 280px;

    h6{
        color: $color-primary-dark;
        font-size: 14px;
        font-weight: 800;
    }

    h5{
        margin-top: 20px;
        font-size: 16px;
        line-height: 1.6;
    }

    .testi-image{
        width: 80px;
        height: 80px;
        border-radius: 50%;
        border: 12px solid #F8F8FD;
        background-color: $color-primary-dark;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: -65px;
        margin-left: auto;
        margin-right: 0;
        img{
            width: 45px;
            height: 45px;
            border-radius: 50%;
        }
    }

    .testi-quote{
        color: $color-primary-dark;
        font-size: 18px;
        margin-top: 10px;
        margin-right: 10px;
    }
}

.form-wrapper {
    background-color: $color-white;
    filter: drop-shadow(0rem 2rem 1rem rgba(0, 0, 0, 0.05));
    padding: 35px 30px;

    &.form-two {
        background-color: $color-primary;

        input {
            background-color: rgba(255, 255, 255, 0.2);
            color: $color-white;
            border: 1px solid transparent;

            &:focus {
                border: 1px solid rgba(255, 255, 255, 0.7);
            }

            &::placeholder {
                color: $color-white;
            }
        }
    }
    &.form-three {
        input {
            border: 1px solid $color-primary-light;
            &:focus {
                border: 1px solid $text-secondary;
            }
        }
    }
    &.form-four {
        input {
            border: 1px solid $color-border;
            border-radius: 50px;
            &:focus {
                border: 1px solid $color-primary-light;
            }
        }
        textarea {
            border-radius: 25px;
        }
    }
}

.form-title {
    font-size: 36px;
    margin-bottom: 25px;
    font-weight: 600;
    text-align: center;

    @include lg-device{
        font-size: 28px;
    }

    @include lg-down-device{
        font-size: 24px;
    }
}
.form-inner {
    margin-bottom: 20px;
    z-index: 1;
}

.form-inner {
    position: relative;
    input[type="date"] {
        z-index: 1;
        background-color: transparent;

        &::after {
            content: "\F1E2";
            position: absolute;
            right: 10px;
            top: 9px;
            font-family: "Bootstrap-icons";
            z-index: 9;
        }
    }
}

label {
    font-size: 14px;
    color: $text-primary;
    margin-bottom: 5px;
    font-weight: 500;
}

input {
    background-color: transparent;
    border: 1px solid $color-border;
    width: 100%;
    display: block;
    padding: 10px 12px;
    border-radius: 3px;
    font-size: 13px;
    color: $text-secondary;
    @include transition-4;

    &:focus {
        border: 1px solid $color-primary;
    }

    &::placeholder {
        font-size: 13px;
        color: $text-light;
    }
}
textarea {
    @extend input;
    min-height: 100px;
}

input[type="color"] {
    background-color: transparent;
    outline: none;
    height: 40px;
    padding: 5px;
}

input[type="file"] {
    background-color: transparent;
    outline: none;
    // height: 40px;
    padding: 10px;
}

input[type="checkbox"] {
    min-width: 15px !important;
    height: 15px;
    border-radius: 2px !important;
    padding: 0;
    display: inline-block;
    cursor: pointer;

    &:focus {
        box-shadow: none;
    }
}
.form-check-input:checked {
    background-color: $color-primary;
    border-color: $color-primary;
    border: 1px solid $color-white;
}

input[type="radio"] {
    min-width: 15px !important;
    height: 15px;
    padding: 0;
    display: inline-block;

    &:focus {
        box-shadow: none;
    }
}

.form-switch {
    input {
        border-radius: 30px !important;
        overflow: hidden;
    }
}

select {
    width: 100%;
    display: block;
    font-size: 13px;
}
.form-select{
    padding: .75rem 2.2rem .75rem 1rem ;
    border-radius: 30px;
    font-size: 14px;
}

.select2.select2-container {
    width: 100% !important;
}
.select2-container .select2-selection--single {
    box-sizing: border-box;
    cursor: pointer;
    display: block;
    height: 40px;
    line-height: 40px;
    user-select: none;
    -webkit-user-select: none;
}
.select2-container--default .select2-selection--single {
    border: 1px solid $color-border;
    border-radius: 4px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: $text-light;
    line-height: 40px;
    font-size: 13px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 7px;
    right: 6px;
    width: 20px;
}

// addons input

.input-group-text {
    border: unset;
    border-radius: 3px;
    background-color: $color-primary;
    color: $color-primary-text;
}
.form-control {
    border: 1px solid $color-border !important;
    border-radius: 25px;
    padding: 10px 12px;
    background-color: $card-bg;

    &:focus {
        box-shadow: none;
        border: 1px solid $color-primary !important;
    }
}

// Date Picker
.flatpickr-day.startRange {
    background-color: $color-primary;
    border-color: $color-primary;
}
.flatpickr-day.endRange {
    background-color: $color-primary;
    border-color: $color-primary;
}
.flatpickr-day.selected {
    background-color: $color-primary;
    border-color: $color-primary;

    &:hover {
        border-color: $text-secondary;
        background-color: $text-secondary;
    }
}

.dayContainer {
    width: 290.875px;
    min-width: 290.875px;
    max-width: 290.875px;
}

.sign-other-title {
    margin-top: 20px;
    text-align: center;
    position: relative;
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        width: 100%;
        height: 1px;
        background-color: $color-border;
        z-index: -1;
    }
    h6 {
        color: $text-secondary;
        background-color: $color-white;
        display: inline-block;
        padding: 15px;
    }
}

.signup-buttons-group {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    button {
        box-shadow: none;
        background-color: unset;
        transition: 0.3s;
        display: inline-block;
        &:hover {
            transform: translateY(3px);
        }
        i {
            &.facebook {
                color: rgb(69, 100, 255);
            }
            &.google {
                color: rgb(203, 0, 0);
            }

            &.twitter {
                color: rgb(2, 176, 224);
            }
        }
    }
}

.have-account {
    text-align: center;
    margin-top: 25px;
    p {
        color: $text-secondary;
        font-size: 14px;
    }
    a {
        color: $text-primary;
        font-size: 14px;
        font-weight: 600;
    }
}

.forget-pass {
    color: $text-secondary;
    font-size: 14px;
    font-weight: 600;
    text-decoration: underline !important;
    @include transition-3;
    &:hover {
        color: $color-primary;
    }
}

.unlock-account {
    text-align: center;
    margin-bottom: 30px;
    .image {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        overflow: hidden;
        margin: 0 auto 10px;
    }
    h5 {
        font-size: 18px;
        font-weight: 600;
        margin-bottom: 30px;
    }
}

.auth-header{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 99;
    padding: 40px 80px 0;

    @include lg-down-device{
        padding: 30px 20px 0;
    }

    .logo{
        max-width: 80px;
        display: flex;
        align-items: center;

        @include lg-down-device{
            max-width: 60px;
        }
    }

    .header-right{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 30px;
    }

    .header-link {
        a{
            span{
                display: inline-block;
                font-size: 16px;
                color: #475467; 
            }
        }
    }

    .lang-select-wrapper {
      position: relative;
      display: inline-flex;
      align-items: center;
      gap: 6px;
      font-size: 18px;
      font-weight: 500;
      color: #475467;
    }

    .lang-select-wrapper i {
      font-size: 22px;
      color: #475467;
    }

    .lang-select {
      appearance: none;
      -webkit-appearance: none;
      -moz-appearance: none;
      border: none;
      background: transparent;
      font-size: 16px;
      font-weight: 400;
     color: #475467;
      padding-right: 24px;
      cursor: pointer;
      min-width: 70px;
    }

    .lang-select-wrapper::after {
      content: "\ea4e"; 
      font-family: "remixicon";
      position: absolute;
      right: 0;
      font-size: 20px;
      color: #475467;
      pointer-events: none;
    }

    select:focus {
      outline: none;
    }
}

.separator{
    display: block;
    width: 100%;
    height: 1px;
    background-color: $color-border;
}


.form-block{
    margin-bottom: 24px;
    border-bottom: 1px solid $color-border;
    padding-bottom: 24px;
}