.sidebar {  
  background-color: $site-bg;
  position: fixed;
  width: 260px;
  height: 100%;
  left: 0;
  right: unset;
  top: 0;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  z-index: 110;
   padding: 30px 15px 0px 30px;

  .sidebar-logo {
    height: 36px;
    line-height: 36px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 36px;
  }

  .sidebar-menu-container {
    max-height: calc(100vh - 82px);
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0 0 15px 0; 

    .sidebar-menu {
      display: flex;
      flex-direction: column;
      gap: 3px;

      @at-root {

        .sidebar-menu-item {
          .sidebar-menu-link {
            display: flex;
            align-items: center;
            width: 100%;
            gap: 8px;
            padding: 8px;
            color: $text-primary;
            font-size: 16px;
            line-height: 1;
            transition: 0.4s ease-in-out;
            position: relative;
            border-radius: 30px;
            transition: 0.5s ease;

            &.active {
              background-color: $text-primary;
              span {
                border: 1px solid $color-border-four;
              }
              svg{
                stroke: $color-white;
              }
              p {
                color: $color-white;
              }
            }
            &:hover {
              background-color: $text-primary;
              span {
                border: 1px solid $color-border-four;
              }
              svg{
                stroke: $color-white;
              }
              p {
                color: $color-white;
              }
            }

            > span {
              width: 40px;
              height: 40px;
              line-height: 40px;
              border: 1px solid $color-border-three;
              font-size: 18px;
              display: flex;
              align-items: center;
              justify-content: center;
              margin-right: 3px;
              border-radius: 50%;

              svg {
                width: 18px;
                height: 18px;
                // fill: red;
                stroke: $text-primary;
              }
            }

            > p {
              color: $text-primary;
              font-size: 16px;
              font-weight: 500;
              display: flex;
              align-items: center;
              gap: 10px;
              transition: 0.4s ease-in-out;
            }

            > small {
              font-size: 12px;
              margin-left: auto;
              [dir="rtl"] & {
                margin-right: auto;
                margin-left: unset;
              }
            }
          }
        }
      }
    }

    .simplebar-scrollbar:before {
      background: #d5d5d59c;
    }
  }

  @include lg-down-device {
    z-index: 102;
  }

  [data-sidebar="close"] & {
    transform: translateX(-300px);
  }
}

.overlay-bg {
  background-color: rgba(21, 33, 48, 0.166);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
  [data-sidebar="close"] & {
    display: none !important;
  }
}

.sidebar-profile{
  width: 100%;
  height: 64px;
  background-color: $color-primary-dark;
  padding: 8px;
  border-radius: 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  margin-bottom: 36px;
  .image{
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: $color-primary-light;
    overflow: hidden;
  }
  .content{
    h4{
      font-size: 16px;
      color: $text-light;
    }
    span{
      display: inline-block;
      font-size: 14px;
      color: $text-light-two;
    }
  }
}
