@import "./mixins";
@import "./global";
@import "./custom";
@import "./card";
@import "./table";
@import "./form";
@import "./topbar";
@import "./sidebar";

.main-content {
  width: calc(100% - 260px);
  margin-left: auto;
  max-height: calc(100vh - 85px);
  min-height: calc(100vh - 85px);
  height: 100%;
  padding: 16px 20px 20px;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  position: relative;

  @include lg-down-device {
    width: 100%;
    margin-left: 0;
  }

  @include md-device {
    -webkit-transition: unset;
    transition: unset;
  }

  [data-sidebar="close"] & {
    width: 100%;
  }

  [dir="rtl"] & {
    margin-right: auto;
    margin-left: unset;

    @include lg-down-device {
      margin-right: 0;
      margin-left: unset;
    }
  }
}

.simplebar-content-wrapper {
  min-height: 100%;
}


.img--adjust {
  background-size: cover;
  background-repeat: no-repeat;
}

.nav-tabs {
  display: inline-flex;
  height: 56px;
  align-items: center;

  .nav-link {
    color: $text-secondary;
    font-size: 16px;
    @include transition-3;
    padding: 6px 15px;
    font-weight: 600;
  }

  &.style-4 {
    margin-bottom: 25px;
    border: 1px solid $color-border;
    border-radius: 30px;
    overflow: hidden;

    .nav-link {
      color: $text-primary;
      border: none;
      position: relative;
      border-radius: 0px;
      @include transition-3;
      padding: 15px 35px;

      &.active {
        background-color: $color-primary-dark;
        color: $color-white;
        @include transition-3;

        &::after {
          bottom: -5px;
          opacity: 1;
        }
      }
    }
  }
}

.stats-container {
  display: flex;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  border-radius: 12px;
  margin-top: 29px;

  .stat-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 6px;
  }

  .label {
    font-size: 18px;
    font-weight: 600;
    color: $text-accent;
    display: flex;
    align-items: center;
    gap: 6px;
  }

  .dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
  }

  .dot.yellow {
    background-color: $color-primary-light;
  }

  .dot.brown {
    background-color: $color-primary-dark;
  }

  .value {
    font-size: 48px;
    font-weight: 600;
    color: $text-primary;
    line-height: 1;
  }

  .divider {
    width: 1px;
    height: 50px;
    background-color: #ddd;
  }
}